.container-ventas{
    position: fixed;
    margin-left: 56.3%;
    margin-top: 25.1%;
    background-color: white;
    height: 97%;
    width: 32%;
    border-radius: 10px;
}

.venta-producto{
    margin-top: 5%;
    margin-left: 5%;
    height: 8%;
    width: 90%;
    border-radius: 5px;
    background-color: transparent; /* Cambiado a transparente */
}

input[type='number'] {
    justify-items: baseline;
    border-radius: 7px;
    border: 1px solid grey;
    margin-top: 2.3%;
    margin-left: -1%;
    height: 55%;
    width: 12%;
    font-size: 16px; /* Modifica el tamaño del número */
    text-align: center; /* Centra el número horizontalmente */
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
    -webkit-appearance: none; /* Oculta las flechas en WebKit (Safari, Chrome) */
    -moz-appearance: textfield; /* Restaura el estilo predeterminado en Firefox */
}

/* Oculta las flechas en WebKit (Safari, Chrome) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Corrige el desbordamiento en algunos navegadores */
}

.producto-nombre{
    text-decoration: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
    font-size: 14px;
    left: 18%;
    top: 3.5%;
    max-width: 230px; /* Establece un ancho máximo para el nombre */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Recorta el texto y agrega puntos suspensivos */
}

.cantidad-stock{
    text-decoration: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 450;
    font-size: 12px;
    left: 18%;
    top: 6%;
    color: grey;
}

.precio-prducto {
    text-decoration: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
    font-size: 17px;
    left: 71%;
    top: 3.7%;
}

.button-delete{
    position: absolute;
    border: 0px solid;
    background-color: transparent;
    cursor: pointer;
    height: 50%;
    width: 40px;
    left: 88%;
    top: -17.1%;
}